/* APRESENTAÇÃO */

@keyframes positloader {
    from {
        transform: translateY(950px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes positBrand {
    from {
        transform: translateX(-950px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes positMenu {
    from {
        transform: translateY(-950px);
    }
    to {
        transform: translateY(0);
    }
}


/* LOADING ANIMAÇÃO  */

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-opacity: 0;
        -webkit-transform: scale(1.0)
    }
    50% {
        -webkit-opacity: 0;
        -webkit-transform: scale(1.1)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        opacity: 0;
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    50% {
        opacity: 100;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #9ca5b8, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #9ca5b8, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
    }
}


/* MENU CANTO DE BAIXO POSICOES*/

@keyframes positMenubottom {
    from {
        transform: translateY(220px);
    }
    to {
        transform: translateY(0);
    }
}


/* ANIMAÇÂO PÁGINA SOBRE*/

@keyframes SobreAnim {
    from {
        transform: translateX(-900px);
    }
    to {
        transform: translateX(0);
    }
}


/* ANIMAÇÂO PÁGINA TIME*/

@keyframes TimeAnim {
    from {
        transform: translateY(900px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes transicoes {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}

@keyframes animMarcos {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes animRicardo {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0);
    }
}