.sh-page-loader {
    background-color: rgba(255, 255, 255, 0.98) !important;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    color: var(--branco);
}

.ml4 .letters {
    opacity: 0;
    color: var(--branco);
}